img{
    max-width:80%;
    border-radius: 5px;
    margin:auto;

}

body{
    font-family: 'Sono', sans-serif;
    background-color: #F1DDC2;
    color:#BD9576;
}

.flex{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1, p{
    text-align: center;
}

#takePhoto{
    background-color: #BD9576;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:200px;
    padding: 7%;
    text-align: center;
    color:#F1DDC2;
}

.photoDisplay{
    border-radius: 5px;
    display:flex;
    align-items: center;
    background-color:#BD9576;
    padding: 10%;
    margin-top:10%;
}